@page "/skoledata"

@using DataAccessLibrary

@inject ISkoleData _db


<h1>SkoleData</h1>

<h4>Nuværende Skoler</h4>
@if (skoleData is null)
{
    <p><em>Loading...</em></p>
}

@code {
    private List<SkoleDataModel> skoleData;
    
    protected override async Task OnInitializedAsync()
    {
        skoleData = await _db.GetSkoleData();
    }
}
